.content {
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #d3d5d6;
    background: #fff;
    border: 1px solid gray;
    min-height: 610px;
}

.form-group h4 {
    font-size: 18px;
}