.content {
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #d3d5d6;
    background: #fff;
    border: 1px solid gray;
    min-height: 510px;
}

.form-group h4 {
    font-size: 18px;
}

.icon {
    font-size: 83px;
    color: #673AB7;
}

.form-group {
    margin-top: 20px;
    margin-left: 20px;
}

.title {
    font-size: 14px;
    color: #76838f;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 900;
}

.fc-purple {
    color: #673AB7;
}

md-grid-list {
    margin-bottom: 20px;
}

.control-label {
    margin-left: 115px;
    display: block;
}

.topLine {
    border-top: 1px dashed gray;
}

.titles {
    border-bottom: 1px solid #673AB7;
    width: 440px;
    line-height: 38px;
    margin-left: 10%;
}

.sig-item {
    margin-left: 10%;
}

.sig-item .label-con {
    width: 100px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    text-align: right;
    margin-right: 20px;
}

.example-full-width {
    width: 350px;
}

.authCode {
    width: 247px;
}

.btn button {
    margin-right: 20px;
}

.cancel {
    margin-left: 135px;
}