.content {
    margin: 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 #d3d5d6;
    background: #fff;
    border: 1px solid gray;
    min-height: 510px;
}

.form-group h4 {
    font-size: 18px;
}

.icon {
    font-size: 83px;
    color: #673AB7;
}

.form-group {
    margin-top: 20px;
    margin-left: 20px;
}

.title {
    font-size: 14px;
    color: #76838f;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 900;
}

.fc-purple {
    color: #673AB7;
}

md-grid-list {
    margin-bottom: 20px;
}

.control-label {
    margin-left: 115px;
    display: block;
}

.topLine {
    border-top: 1px dashed gray;
}

.titles {
    border-bottom: 1px solid #673AB7;
    width: 440px;
    line-height: 38px;
    margin-left: 10%;
}

.sig-item {
    margin-left: 10%;
}

.sig-item .label-con {
    width: 100px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    text-align: right;
    margin-right: 20px;
}

.example-full-width {
    width: 350px;
}

.authCode {
    width: 247px;
}

.btn button {
    margin-right: 20px;
}

.cancel {
    margin-left: 135px;
}

.icon {
    text-indent: 12px;
}

.clikeBorder {
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    height: 220px;
    padding: 50px 70px 30px 80px;
    text-align: center;
}

.clikeBorder:hover {
    border: 1px solid #673AB7;
}

.notice {
    margin-left: 10px;
    color: red;
}

.topic {
    font-size: 25px;
    font-weight: 700;
    color: #636363;
    text-indent: 20px;
}

.control-label {
    display: inline-block;
    margin-right: 30px;
}

.name {
    width: 30%;
}

.upload-txt-box .upload-txt {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.upload-txt-box .upload-icon {
    position: absolute;
    z-index: 0;
    width: 36px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #673ab7;
}

.upload-icon i {
    color: white;
    width: 36px;
    height: 32px;
}

.upload-icon i input {
    overflow: hidden;
}