<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content togglable-tabs">
        <!--选项-->
        <md-tab-group [selectedIndex]='step' (selectChange)="step=$event.index">
            <!--基本信息  -->
            <md-tab label="基本信息">
                <div class="form-horizontal" *ngIf=" !(statu=='authPersonal' || statu=='authCompany')">
                    <div class="form-group authentication">
                        <h4>认证</h4>
                        <md-grid-list cols="2" rowHeight="100px">
                            <md-grid-tile rowspan="3" (click)="statu='authPersonal'">
                                <a class="clikeBorder">
                                    <div class="icon">
                                        <i class="fa fa-user-plus">&nbsp;</i>
                                    </div>
                                    <strong class="topic">个人</strong><br>
                                    <p>个人类型广告主需上传<br>手持身份证照片</p>
                                </a>
                            </md-grid-tile>
                            <md-grid-tile rowspan="3" (click)="statu='authCompany'">
                                <a class="clikeBorder">
                                    <div class="icon">
                                        <i class="fa fa-institution">&nbsp;</i>
                                    </div>
                                    <strong class="topic">企业</strong>
                                    <p>企业类型广告主需提供<br>最新年检营业执照</p>
                                </a>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>
                <!-- 个人认证 -->
                <div class="authPersonal" *ngIf="statu=='authPersonal'">
                    <h3 class="mod-title mod-title-small">个人信息</h3>
                    <div class="form-horizontal">
                        <!-- 姓名 -->
                        <div class="form-group">
                            <label class="control-label" for="">姓 名</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写与有效身份证上一致的姓名" (blur)="checkTruename()" [(ngModel)]="advert.truename">
                            </md-input-container>
                            <span class="notice" *ngIf="warnTruename">
                                    <i class="fa fa-exclamation-circle">&nbsp;姓名不能为空!</i>
                            </span>
                        </div>
                        <!-- 个人证件 -->
                        <div class="form-group">
                            <label class="control-label" for="">个人证件</label>
                            <button md-raised-button color="{{status=='IDcard'?'primary':''}}" (click)="status='IDcard'">身份证</button>
                            <button md-raised-button color="{{status=='passport'?'primary':''}}" (click)="status='passport'">护照</button>
                        </div>
                        <!-- 有效证件号 -->
                        <div class="form-group">
                            <label class="control-label" for="">证件号</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写有效证件号码" (blur)="checkCertificateNum()" [(ngModel)]="advert.CertificateNum">
                            </md-input-container>
                            <span class="notice" *ngIf="warnCertificateNum">
                                        <i class="fa fa-exclamation-circle">&nbsp;请输入有效证件号码!</i>
                            </span>
                        </div>
                        <!-- 证件照 -->
                        <div class="form-group">
                            <label class="control-label" for="">手持证件照片</label>
                            <a class="upload-txt-box">
                                <span class="upload-tips" style="display:none"> 请点击选择图片...</span>
                                <input type="file" style="display:none" id="file" name="file" class="upload-txt" placeholder="请上传2M以内，JPG/PNG格式的图片。">
                                <md-input-container class="example-full-width">
                                    <input mdInput placeholder="请上传2M以内，JPG/PNG格式的图片。">
                                </md-input-container>
                                <label class="upload-icon" for="file" mdTooltip="上传2M以内，JPG/PNG格式的图片。">
                                    <i class="fa fa-picture-o"></i>
                                </label>
                            </a>
                        </div>
                        <!-- 证件照示例 -->
                        <div class="form-group">
                            <label class="control-label" for="">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <div class="upload-info">
                                <a class="upload-give">
                                    <i class="fa fa-eye" (mouseenter)="tip.style.display='block'" (mouseleave)="tip.style.display='none'">&nbsp;手持证件照示例</i>
                                    <img src="../../../../assets/IDexample.jpg" width="202" height="142" alt="证件示例" #tip class="IDexample">
                                </a>
                                <ol class="list-unstyled">
                                    <li>请上传2M以内，JPG/PNG格式的图片。</li>
                                    <li>照片确保五官可见，证件信息清晰无遮挡。</li>
                                    <li>我司资质验证系统已与公安部门联网，请勿提供虚假证件。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <h3 class="mod-title mod-title-small">联系方式</h3>
                    <div class="form-horizontal">
                        <!-- 手机号码 -->
                        <div class="form-group">
                            <label class="control-label" for="">手机号码</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写可以联系到您的联系号码" [(ngModel)]="advert.phone" disabled>
                            </md-input-container>
                        </div>
                        <!-- 电子邮箱 -->
                        <div class="form-group">
                            <label class="control-label" for="">电子邮箱</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写有效邮箱，用于接收通知" (blur)="checkEmail()" [(ngModel)]="advert.email">
                            </md-input-container>
                            <span class="notice" *ngIf="warnEmail">
                                        <i class="fa fa-exclamation-circle">&nbsp;电子邮箱不能为空!</i>
                            </span>
                        </div>
                        <!-- 联系地址 -->
                        <div class="form-group">
                            <label class="control-label" for="">联系地址</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写有效地址" (blur)="checkAdress()" [(ngModel)]="advert.adress">
                            </md-input-container>
                            <span class="notice" *ngIf="warnAdress">
                                    <i class="fa fa-exclamation-circle">&nbsp;联系地址不能为空!</i>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="">
                                    <md-checkbox color="primary">同意接受</md-checkbox>
                            </label>
                            <a class="astyle">狠享赚平台用户协议</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="">
                                        <md-checkbox color="primary">同意接受</md-checkbox>
                            </label>
                            <a class="astyle">狠享赚平台平台广告投放免责协议内容</a>
                        </div>
                        <div class="form-group btnGroup">
                            <button md-raised-button color="primary" (click)="statu='step'">上一步</button>
                            <button md-raised-button color="primary">提交审核</button>
                        </div>
                        <div class="form-group">
                            <div class="text-center">如需修改认证资料请联系客服：181 7148 2725</div>
                        </div>
                    </div>
                </div>
                <!-- 企业认证 -->
                <div class="authCompany" *ngIf="statu=='authCompany'">
                    <h3 class="mod-title mod-title-small">企业信息</h3>
                    <div class="form-horizontal">
                        <!-- 企业全称 -->
                        <div class="form-group">
                            <label class="control-label" for="">企业全称</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写与营业执照一致的合法公司全称" (blur)="checkCompanyname()" [(ngModel)]="advert.companyname">
                            </md-input-container>
                            <span class="notice" *ngIf="warnCompanyname">
                                        <i class="fa fa-exclamation-circle">&nbsp;企业全称不能为空!</i>
                            </span>
                        </div>
                        <!-- 营业执照号 -->
                        <div class="form-group">
                            <label class="control-label" for="">营业执照</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写完整的营业执照上的注册号" (blur)="checkCompanynum()" [(ngModel)]="advert.companynum">
                            </md-input-container>
                            <span class="notice" *ngIf="warnCompanynum">
                                            <i class="fa fa-exclamation-circle">&nbsp;请输入有效营业执照!</i>
                            </span>
                        </div>
                        <!-- 营业执照照片 -->
                        <div class="form-group">
                            <label class="control-label" for="">营业执照照片</label>
                            <a class="upload-txt-box">
                                <span class="upload-tips" style="display:none"> 请点击选择图片...</span>
                                <input type="file" style="display:none" id="file" name="file" class="upload-txt" placeholder="请上传2M以内，JPG/PNG格式的图片。">
                                <md-input-container class="example-full-width">
                                    <input mdInput placeholder="请上传2M以内，JPG/PNG格式的图片。">
                                </md-input-container>
                                <label class="upload-icon" for="file" mdTooltip="请上传2M以内，JPG/PNG格式的图片">
                                        <i class="fa fa-picture-o"></i>
                                </label>
                            </a>
                        </div>
                        <!-- 证件照示例 -->
                        <div class="form-group">
                            <label class="control-label" for="">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <div class="upload-info">
                                <a class="upload-give">
                                    <i class="fa fa-eye" (mouseenter)="tips.style.display='block'" (mouseleave)="tips.style.display='none'">&nbsp;上传图片示例</i>
                                    <img src="../../../../assets/license.jpg" width="203" height="313" alt="证件示例" #tips class="IDexample">
                                </a>
                                <ol class="list-unstyled">
                                    <li>请上传2M以内，JPG/PNG格式的图片。</li>
                                    <li>照片确保营业执照清晰可见</li>
                                    <li>我司资质验证系统已与公安部门联网，请勿提供虚假证件。</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <h3 class="mod-title mod-title-small">联系方式</h3>
                    <div class="form-horizontal">
                        <!-- 联系人 -->
                        <div class="form-group">
                            <label class="control-label" for="">联系人</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写联系人姓名" (blur)="checkHeadname()" [(ngModel)]="advert.headname">
                            </md-input-container>
                            <span class="notice" *ngIf="warnHeadname">
                                            <i class="fa fa-exclamation-circle">&nbsp;联系人不能为空!</i>
                            </span>
                        </div>
                        <!-- 手机号码 -->
                        <div class="form-group">
                            <label class="control-label" for="">手机号码</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写可以联系到您的联系号码" (blur)="checkHeadphone()" [(ngModel)]="advert.headphone">
                            </md-input-container>
                            <span class="notice" *ngIf="warnHeadphone">
                                    <i class="fa fa-exclamation-circle">&nbsp;手机号码不能为空!</i>
                             </span>
                        </div>
                        <!-- 电子邮箱 -->
                        <div class="form-group">
                            <label class="control-label" for="">电子邮箱</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写有效邮箱，用于接收通知" (blur)="checkHeadEmail()" [(ngModel)]="advert.heademail">
                            </md-input-container>
                            <span class="notice" *ngIf="warnHeadEmail">
                                            <i class="fa fa-exclamation-circle">&nbsp;电子邮箱不能为空!</i>
                            </span>
                        </div>
                        <!-- 联系地址 -->
                        <div class="form-group">
                            <label class="control-label" for="">联系地址</label>
                            <md-input-container class="name">
                                <input mdInput placeholder="请填写有效地址" (blur)="checkAdress()" [(ngModel)]="advert.adress">
                            </md-input-container>
                            <span class="notice" *ngIf="warnAdress">
                                        <i class="fa fa-exclamation-circle">&nbsp;联系地址不能为空!</i>
                                </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="">
                                        <md-checkbox color="primary">同意接受</md-checkbox>
                                </label>
                            <a class="astyle">狠享赚平台用户协议</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="">
                                            <md-checkbox color="primary">同意接受</md-checkbox>
                                </label>
                            <a class="astyle">狠享赚平台平台广告投放免责协议内容</a>
                        </div>
                        <div class="form-group btnGroup">
                            <button md-raised-button color="primary" (click)="statu='step'">上一步</button>
                            <button md-raised-button color="primary">提交审核</button>
                        </div>
                        <div class="form-group">
                            <div class="text-center">如需修改认证资料请联系客服：181 7148 2725</div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <!-- 安全设置-->
            <md-tab label="安全设置">
                <div class="tab-pane">
                    <div class="form-horizontal">
                        <!-- 您的基础信息 -->
                        <div class="form-group">
                            <h4 class="title">您的基础信息</h4>
                            <md-grid-list cols="3" rowHeight="40px">
                                <md-grid-tile><strong>手机号码:</strong></md-grid-tile>
                                <md-grid-tile class="fc-purple">{{advert.phone}}</md-grid-tile>
                                <md-grid-tile><button md-raised-button color="primary" (click)="statu='changePhone'" [class.active]="statu=='changePhone'">修改手机</button></md-grid-tile>
                            </md-grid-list>
                            <md-grid-list cols="3" rowHeight="40px">
                                <md-grid-tile><strong>登陆邮箱:</strong></md-grid-tile>
                                <md-grid-tile class="fc-purple">
                                    <!-- {{advert.email||advert.phone}} -->
                                </md-grid-tile>
                                <md-grid-tile><button md-raised-button color="primary" (click)="statu='setEamil'" [class.active]="statu=='setEamil'">设置邮箱</button></md-grid-tile>
                            </md-grid-list>
                        </div>
                        <!--您的安全服务-->
                        <div class="form-group">
                            <h4 class="title">您的安全服务</h4>
                            <md-grid-list cols="3" rowHeight="60px">
                                <md-grid-tile><strong>登陆密码</strong></md-grid-tile>
                                <md-grid-tile class="fc-purple">
                                    安全性高的密码可以使帐号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码。
                                </md-grid-tile>
                                <md-grid-tile><button md-raised-button color="primary" (click)="statu='changePass'" [class.active]="statu=='changePass'">修改</button></md-grid-tile>
                            </md-grid-list>
                            <md-grid-list cols="3" rowHeight="40px">
                                <md-grid-tile><strong>登陆邮箱</strong></md-grid-tile>
                                <md-grid-tile class="fc-purple">
                                    绑定邮箱后，您即可享受丰富的邮箱服务，如邮箱登录、邮箱找回密码等。
                                </md-grid-tile>
                                <md-grid-tile>
                                    <button md-raised-button color="primary" (click)="statu='notice'" [class.active]="statu=='notice'">绑定</button>
                                    <span class="notice" *ngIf="statu=='notice'">
                                        <i class="fa fa-exclamation-circle">你还没有绑定邮箱!</i>
                                    </span>
                                </md-grid-tile>
                            </md-grid-list>
                        </div>
                    </div>
                </div>
                <!-- 修改号码 -->
                <md-grid-list cols="1" rowHeight="60px" *ngIf="statu=='changePhone'" class="topLine">
                    <md-grid-tile>
                        <h3 class="titles">修改号码</h3>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">登录密码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入登录密码" [(ngModel)]="advert.password">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">新手机号码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入新手机号码" [(ngModel)]="advert.phone">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">验证码</label>
                            <md-input-container class="example-full-width authCode">
                                <input mdInput placeholder="请输入验证码" [(ngModel)]="authCode">
                            </md-input-container>
                            <button (click)="sendAuthCode()" md-raised-button color="primary">{{codeTime==0?'发送验证码':codeTime}}</button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile class="btn">
                        <button md-raised-button class="cancel" (click)="statu=' '">取消</button>
                        <button (click)="changePhone();statu=' '" md-raised-button color="primary">确认</button>
                    </md-grid-tile>
                </md-grid-list>
                <!-- 修改邮箱 -->
                <md-grid-list cols="1" rowHeight="60px" *ngIf="statu=='setEamil'" class="topLine">
                    <md-grid-tile>
                        <h3 class="titles">修改邮箱</h3>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">登录密码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入登录密码" [(ngModel)]="advert.password" type="password">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">新邮箱</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入新邮箱" [(ngModel)]="advert.phone">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile class="btn">
                        <button md-raised-button class="cancel" (click)="statu=' '">取消</button>
                        <button (click)="setEamil();statu=' '" md-raised-button color="primary">确认</button>
                    </md-grid-tile>
                </md-grid-list>
                <!-- 修改密码 -->
                <md-grid-list cols="1" rowHeight="60px" *ngIf="statu=='changePass'" class="topLine">
                    <md-grid-tile>
                        <h3 class="titles">修改密码</h3>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">原始密码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入登录密码" [(ngModel)]="advert.oldPassword" type="password">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">新密码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请设置新密码" [(ngModel)]="advert.newPassword" type="password">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div class="sig-item">
                            <label class="label-con">确认新密码</label>
                            <md-input-container class="example-full-width">
                                <input mdInput placeholder="请输入确认密码" [(ngModel)]="advert.reNewPassword" type="password">
                            </md-input-container>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile class="btn">
                        <button md-raised-button class="cancel" (click)="statu=' '">取消</button>
                        <button (click)="changePassword();statu=' '" md-raised-button color="primary">确认</button>
                    </md-grid-tile>
                </md-grid-list>
            </md-tab>
        </md-tab-group>
    </section>
</div>