.bg {
    background: url(http://8.su.bdimg.com/skin/47.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}

.login-box {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    border-radius: 15px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 34%;
}

.login-box-msg {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.login {
    width: 450px;
    min-height: 400px;
    position: relative;
    top: 25px;
    left: 0;
}

.btn-button {
    margin-top: 30px;
}

.btn-button button {
    margin-left: 20%;
}

.register {
    min-height: 400px;
    position: relative;
    top: 10px;
    left: 0;
}

.sig-up {
    width: 100%;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    overflow: hidden;
    clear: both;
}

.sig-up .form-title {
    font-size: 22px;
    color: #333;
}

.sig-up a {
    float: right;
}

a {
    line-height: 42px;
    color: #673ab7;
}

a:hover {
    color: red!important;
}

.sig-item {
    margin-top: 28px;
}

.sig-item .example-full-width {
    width: 89%;
}

.sig-item .authCode {
    width: 58%;
}

.sig-item .pass {
    width: 83%;
}

.sig-item .label-con {
    width: 100px;
    line-height: 40px;
    font-size: 15px;
    color: #666;
    text-align: right;
}

.sig-item .required {
    padding: 0px 5px;
    font-size: 13px;
    color: #ff0000;
}

.sig-item2 {
    margin-top: 18px;
    margin-bottom: 5%;
    margin-left: 35%;
}

.reg {
    width: 155px;
}

.gray {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 40%;
}

.authCode {
    margin-top: 0;
    margin-bottom: 0;
    width: 80px;
    height: 27px;
    padding: 0;
    line-height: 27px;
}

.example-form {
    width: 500px;
}

.example-full-width {
    width: 100%;
}

.example-margin {
    margin: 0 10px;
}